.tAndw{
    color: white;
}
.table-body{
    margin: 0px 100px 50px 100px;
    color: white;
}
.table-style{
    color: black;
    background-color: #fff;
}

.table thead{
    background-color: black;
    color: #fff;
}