.jobs{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myModal{
    display: block;
}

.width-webkit{
    width: -webkit-fill-available;
}

.width-max{
    width: max-content;
}

.modal-title {
    margin-bottom: 0;
    font-size: 1.5rem !important;
}

.align-right{
    align-self: flex-end;
}
.btn-popup{
    width: max-content;
}

.each-job{
    width: 100%;
    background: #8df5ff1c;;
    margin-bottom: 2rem;
}

.job-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.job-heading{
    font-family: "Audiowide", sans-serif;
    color: white;
    align-self: flex-start;
}

.posted-by{
    padding-left: 10px;
    color: #ffc92f;
    font-size: 20px;
    font-family: Verdana;
    font-weight: 600;
}

.job-data{
    width: 100%;
    text-align: left !important;
    margin-left: 20px;
    margin-bottom: 15px;
}

.job-data-detail{
    margin: auto;
    color: white;
    font-size: 16px;
    font-family: Monaco;
}

.post-job{
    margin-right: 15px;
    width: max-content;
    align-self: flex-end;
    color: #27fb00;
}

.post-job :hover{
    color: green;
}

.apply-job{
    margin-right: 15px;
    width: max-content;
    align-self: flex-end;
    font-size: 20px;
    color: #c7cad6;
    font-weight: 900;
    font-family: Helvetica;
}