.home-banner{
  width: 100%;
  height: max-content;
}

.home-heading{
  padding: 10px;
  color: red;
  text-align: center;
}

.logo{
  padding: 10px;
  background: #bf0a0a;
  max-width: max-content;
}