.home{
  text-align: center;
}

.bg-dark{
  background-color: transparent !important;
}

.home-banner{
  height: 500px;
  width: 90%;
  margin: 20px;
}

.mr-30{
  margin-right: 20px;
}

.home-heading{
  padding: 10px;
  color: #ffffff;
  text-align: center;
  font-family: "Audiowide", sans-serif;
}

.logo{
  padding: 10px;
  background: #bf0a0a;
  max-width: max-content;
}

.navbar-brand{
    font-family: "Audiowide", sans-serif;
}

.nav-link{
  font-size: 20px;
  color: #f7f7f7 !important;
  font-family: Georgia;
}

.navbar-nav{
  margin-left: 50px;
}

.about{
  padding: 50px;
  margin: auto;
  color: white;
}

.about-heading{
  font-family: "Audiowide", sans-serif;
    margin: 10px;
    padding-bottom: 10px;
    font-weight: 900;
    font-size: 40px;
}

.about-para{
  margin: auto;
  line-height: 1.7rem;
  font-family: Georgia;
  padding: 5px;
}

.carousel-div{
  margin-right: 20px;
  margin-left: 20px;
}

.carousel button{
  width: auto;
}

.carousel .slide img{
  width: 90% !important;
  height: 400px;
  left: 0px;
  margin-right: 20px;
  margin-left: 20px;
}
